.drawerBg{
    background-image: url('../assets/resume-bg-4.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.active{
    border-left: 1px solid white;
}